[package]
name = "amber_codegen"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
amber_ast.workspace = true
thiserror.workspace = true
